.divContato{
    overflow: hidden;
}

.linha{
    transition: max-height .3s ease;
}
.ocultar{
    max-height: 55px;
}
.exibir{
    max-height: 260px;
    
}
body{
    background-image: url(../../../public/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
